<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cart Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
</head>
<body class="bg-success-subtle">

    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/home">CART</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/home/pasien/view">Data Pasien</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" href="/home/cart/formCart">Input Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home/katalog/view">Katalog Obat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Data Display</h2>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Tgl</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Total</th>
                        <th scope="col">Obat yang dibeli</th>
                        <th scope="col">Pasien yg membeli</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamic data block -->
                    <% allData.forEach(item => { %>
                        <tr>
                            <td><%= item.Tanggal_Beli %></td>
                            <td><%= item.Jumlah %></td>
                            <td> Rp. <%= item.Total %></td>
                            <td><%= item.Obat_Dibeli%></td>
                            <td><%= item.Pasien_Ygbeli %></td>
                            <td>
                                <div class="d-flex">
                                    <form action="/home/cart/<%= item.id %>?_method=DELETE" method="POST">
                                        <button type="submit" class="btn btn-danger me-2">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>
